{% extends "iniciar.html" %}
{% block content %}
<script>
function selecaoAnalista() {
    var e = document.getElementById("inlineFormCustomSelect");
    var itemSelecionado = e.options[e.selectedIndex].value;
    document.getElementById("retorno").value = e.value;
}
</script>
<div class="card">
    <h5 class="card-header">Analista Técnico</h5>
    <div class="card-body">
        <form>
            <div class="form-row align-items-center">
                <select onchange="selecaoAnalista()" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                  <option selected>Escolha o Analista...</option>
                  {% for i in range(lenAnalistas) %}
                  <option value={{listaNomes[i]}}>{{listaNomes[i]}}</option>
                  {% endfor %}                  
                </select>
                <input id="retorno"></input>
            </div>
          </form>
    
    </div>
  </div>
</div>
<div class="row">
    <div class="col-lg-6">
<canvas id="myChart" ></canvas>
      <script>
        datas = JSON.parse({{datas|tojson}});
        nome = JSON.parse({{nome|tojson}});
        deferidos = JSON.parse({{deferidos|tojson}});
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: datas,
              datasets: [{
                  label: nome,
                  data: deferidos,
                  backgroundColor: ['rgba(30, 96, 163, 0.5)'], 
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                            max: 20,
                            min: 0,
                            stepSize: 1,
                          beginAtZero: true
                      }
                  }]
              }
          }
      });
      </script>
    </div>
    <div class="col-lg-6">
    tabela        
    </div>
</div>
 
{% endblock %}