{% extends "iniciar.html" %}
{% block content %}
    <iframe src="https://br.widgets.investing.com/live-indices?theme=darkTheme&roundedCorners=true&pairs=166,27,172,177,170,175,176,23659,1043106,23658,174,14601,53094,178,179,956501,959210,24441,959206,40823" 
    width="100%" height="840px" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe><div class="poweredBy" style="font-family: Arial, Helvetica, sans-serif;">Desenvolvido por <a href="https://br.investing.com?utm_source=WMT&amp;utm_medium=referral&amp;utm_campaign=LIVE_CURRENCY_X_RATES&amp;utm_content=Footer%20Link" target="_blank" rel="nofollow">Investing.com</a></div>    
{% endblock %}