{% extends "iniciar.html" %}
{% block content %}
<div >      
    <div class="row">
        <div class="col-lg-6">
    <canvas id="chartDesenvolvidos"></canvas>
    <script>
        colecao = JSON.parse({{colecao|tojson}});
          
        var ctx1 = document.getElementById('chartDesenvolvidos').getContext('2d');
        var dia = ""
        var horas = []
        var cad = []
        var euro = []
        var gbp = []
        var chf = []
        var lira = []
        var brl = []
        var mxn = []
        var ars = []
        var rub = []        
        var porcentagens = []
        var valorMaximo = 0        
        var valorMinimo = 0
        for (const pacote of colecao) {
            dia = pacote["dia"]
            horas.push(pacote["hora"])
            for (const cambio of pacote.listaCambio) {
                if((cambio["sigla"] == "EUR") ||
                    (cambio["sigla"] == "CAD") || 
                    (cambio["sigla"] == "GBP") || 
                    (cambio["sigla"] == "TRY") || 
                    (cambio["sigla"] == "CHF") ||
                    (cambio["sigla"] == "BRL") ||
                    (cambio["sigla"] == "MXN") || 
                    (cambio["sigla"] == "ARS") || 
                    (cambio["sigla"] == "RUB")) {                                     
                    if(valorMaximo <= parseFloat(cambio["porcentagem"]))
                        valorMaximo = parseFloat(cambio["porcentagem"])
                    if(valorMinimo >= parseFloat(cambio["porcentagem"]))
                        valorMinimo = parseFloat(cambio["porcentagem"])
                    }
                if(cambio["sigla"] == "CAD")                                        
                    cad.push(cambio["porcentagem"])
                if(cambio["sigla"] == "EUR")
                    euro.push(cambio["porcentagem"])
                if(cambio["sigla"] == "GBP")
                    gbp.push(cambio["porcentagem"])
                if(cambio["sigla"] == "TRY")
                    lira.push(cambio["porcentagem"])
                if(cambio["sigla"] == "CHF")
                    chf.push(cambio["porcentagem"])
                if(cambio["sigla"] == "BRL")                                        
                    brl.push(cambio["porcentagem"])
                if(cambio["sigla"] == "MXN")
                    mxn.push(cambio["porcentagem"])
                if(cambio["sigla"] == "ARS")
                    ars.push(cambio["porcentagem"])
                if(cambio["sigla"] == "RUB")
                    rub.push(cambio["porcentagem"])                    

            }
        }        
        var grafico1 = new Chart(ctx1, {
            type: 'line',
            data: {
                labels: horas,
                datasets: [{
                    label: 'Euro - Dia '+dia,
                    data: euro, 
                    backgroundColor: ['rgba(30, 96, 163, 0.5)'],                    
                    borderWidth: 1
                },
                {
                    label: 'Dólar Canadense',
                    data: cad, 
                    backgroundColor: ['rgba(255, 99, 132, 0.5)'],                    
                    borderWidth: 1
                },
                {
                    label: 'Libra Esterlina',
                    data: gbp, 
                    backgroundColor: ['rgba(15, 127, 71, 0.5)'],                    
                    borderWidth: 1
                },
                {
                    label: 'Franco Suíço',
                    data: chf, 
                    backgroundColor: ['rgba(244, 127, 30, 0.5)'],                    
                    borderWidth: 1
                }
            ]
            },
            
            options: {
              scales: {
                  yAxes: [{
                      ticks: {
                            max: valorMaximo+0.1,
                            min: valorMinimo-0.1,
                            stepSize: 0.05,
                          beginAtZero: true
                      }
                  }]
              }
          }
        });        
    </script>
        </div>
        <div class="col-lg-6">
    <canvas id="chartEmDesenvolvimento"></canvas>
    <script>      
        var ctx2 = document.getElementById('chartEmDesenvolvimento').getContext('2d');
        var grafico2 = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: horas,
                datasets: [{
                    label: 'Lira Turca - Dia '+dia,
                    data: lira, 
                    backgroundColor: ['rgba(30, 96, 163, 0.5)'],                    
                    borderWidth: 1
                },
                {
                    label: 'Peso Mexicano',
                    data: mxn, 
                    backgroundColor: ['rgba(255, 99, 132, 0.5)'],                    
                    borderWidth: 1
                },
                {
                    label: 'Peso Argentino',
                    data: ars, 
                    backgroundColor: ['rgba(15, 127, 71, 0.5)'],                    
                    borderWidth: 1
                },
                {
                    label: 'Rublo Russo',
                    data: rub, 
                    backgroundColor: ['rgba(244, 127, 30, 0.5)'],                    
                    borderWidth: 1
                },
                {
                    label: 'Real',
                    data: brl, 
                    backgroundColor: ['rgba(244, 127, 30, 0.5)'],                    
                    borderWidth: 1
                }
            ]
            },
            
            options: {
              scales: {
                  yAxes: [{
                      ticks: {
                            max: valorMaximo+0.1,
                            min: valorMinimo-0.1,
                            stepSize: 0.05,
                          beginAtZero: true
                      }
                  }]
              }
          }
        });        
    </script>   
    </div> 
    </div> 
</div>        
{% endblock %}